<!DOCTYPE html>
<html>
    <head>
        <title>
            Mini Ecommerce 
        </title>
        <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
    </head>
    <body>
        <nav>
            <h2 class = "logo">Mini Ecommerce</h2>
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('login')}}">Login</a></li>
                <li><a href="{{url_for('register')}}">Register</a></li>
                <li><a href="{{url_for('cart')}}">Cart</a></li>
                <li><a href="{{url_for('checkout')}}">Checkout</a></li>
            </ul>
        </nav>
        
    </body>
</html>